.landingpage{
    background-color: #0000;
}
.container {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	max-width: 100%;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	background-color: black;
}
h1{
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}